<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color:#eee5e5;
            width: 100%;
        }
    </style>
</head>
<body>
    <a href="/leads">Go back to leads</a>
    <hr />
    <h1>This is the lead of {{ lead.first_name }}</h1>
    <p>This persons age : {{ lead.age }}</p>
    <p>The agent responsible forthis lead is : {{ lead.agent }}</p>
</body>
</html>